# Временный файл пользовательских настроек Qt Creator
*.user

# Игнорируем любые папки сборки (встроенные и кастомные)
/build*/
/cmake-build*/
CMakeLists.txt.user

# Игнорируем скомпилированный мусор
*.o
*.obj
*.exe
*.a
*.lib